doctype html
html(lang="en")
    head
        block head
            title= title
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='description', content='Zign - Sign Language Support for Zoom Meetings')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')
            link(rel='stylesheet', href='/css/style.css')
        block styles
    body
        block content
        block scripts
        noscript Javascript must be enabled to use this application